@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Gyahegi";
  src: url("./assets//fonts/Gyahegi.otf");
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

.main-headline {
  font-family: "Gyahegi", serif;
  line-height: 1.7;
}
